@media screen and (max-width: 768px){
   /* Default styles */
   .container{
    overflow-x: hidden;
   }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  body {
    overflow-x: hidden;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    margin-bottom: 30px;
  }
  
  .top-1 {
    padding-right: 100px;
  }
  
  .top-1 ul li {
    list-style: none;
    font-weight: bold;
  }
  
  .top-1 ul li a {
    text-decoration: none;
    color: unset;
  }
  
  #log-in {
    position: absolute;
    top: 72px;
    left: 610px;
    color: black;
    font-weight: bold;
    font-family: 'Tilt Warp', cursive;
  }
  
  #log-in a:hover {
    color: #fc8019;
  }
  
  #sign-up {
    position: absolute;
    top: 60px;
    left: 690px;
    color: white;
    background-color: black;
    display: inline-block;
    width: 74px;
    height: 20px;
    text-align: center;
    padding: 10px 16px;
    font-family: 'Tilt Warp', cursive;
  }
  
  .top-image-section img {
    left: 100px;
    display: inline;
    height: 95.2%;
    width: 100%;
  }
  
  .form {
    display: flex;
    flex-wrap: wrap;
    margin-left: 140px;
    padding: 16px 0;
  }
  
  .form input {
    background-image: url("/locateme.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 20px;
    width: 100%;
    height: 56px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    border: 1px solid black;
  }
  
  .form input::placeholder {
    font-size: 18px;
    text-align: left;
  }
  
  .form input:focus {
    border-color: #fc8019;
    outline: none;
  }
  
  .btn {
    border: none;
    font-family: 'Tilt Warp', cursive;
    font-size: 20px;
    width: 100%;
    background: #fc8019;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  .btn:hover {
    cursor: pointer;
    text-decoration: none;
  }
  
  p {
    font-size: 25px;
  }
  
  #text-des {
    color: #686b78;
    letter-spacing: -3px;
  }
  
  h3 {
    font-weight: 400;
    font-size: 15px;
    color: #a9abb2;
    margin: 30px 0 10px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
  }
  
  #listofcities li {
    list-style: none;
    font-weight: 600;
    font-size: 16px;
    margin-right: 8px;
    color: #686b78;
    line-height: 1.5;
  }
  
  #listofcities li:nth-child(2n) {
    color: #93959f;
  }
  
  .con2 {
    margin-left: 130px;
  }
  
  .con2 p {
    color: #93959f;
  
  }
    .section-1{
        overflow-x: hidden;
    } 
}